/* improt googl font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* common css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section{
    background: #ffffff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.section-title{
    margin: 5px 0px 35px 0px;
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
}
.container{
    width: 870px;
}
.flex-center{
    display: flex;
    align-items: center;
}

/* header area and navigation css */

.header-area {
    height: 94px;
    background: #562EFF;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0px;
}
.brand img{
    width: 51px;
    height: 51px;
    height: 51px;
}
.brand span{
    color: white;
    font-size: 24px;
    margin-left: 15px;
}
.navigation a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 36px;
}
.fa-user-circle{
    font-size: 50px;
}

/* top player section css */


.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 30px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player .palyer-name{
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
}
hr{
    margin-bottom: 30px;
}

/* top blogs css */

.top-blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.blog-tum img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 15px;
}
.blog-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
}
.blog-info p{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-info p > a{
    text-decoration: none;
    color: #562EFF;
}

/* top course section */

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.course{
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.course img{
    width: 224px;
    height: 104px;
    margin-bottom: 20px;
}
.course h3, h4{
    font-weight: 500;
font-size: 20px;
line-height: 23px;
}
.author-name{
    font-size: 14px;
    color: #ED6B4F;
    margin: 5px 0px;
}
.course-info{
    /* justify-content: start; */
    margin-bottom: 20px;
}
.rating i{
    font-size: 16px;
    margin-right: 3px;
    color: #FFC014;
}
.fas.fa-star.dep{
    color: #AEAEAE;
    opacity: 0.25;
}
.rating span{
    margin-left: 10px;
    margin-right: 20px;
    font-size: 14px;
    color: #A2A2A2;
}
.time{
    background: #FFE4E8;
    border-radius: 14.6913px;
    padding: 3px 5px;
}
.time i{
    font-size: 16px;
    margin-right: 5px;
    color: #FF4A60;
}
.time span{
    color: #FF4A60;
}

/* footer area css */

.fooret-area{
    height: 94px;
    background: #562EFF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fooret-area h1{
    font-size: 20px;
}
.fooret-area p{
    font-size: 16px;
}


/* media quarry css */

/* tab */

/* mobile */

@media only screen and (max-width:687px) {
    
}